<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <article>
        <h2 class="text-center mt-2">
          Edit Post
        </h2>
        <form class="edit-post-form">
          <div class="mb-1">
            <input class="form-control w-bolder" name="post-title" type="text" value="{{post.title}}" />
          </div>
          <div class="d-flex m-1 mb-3 justify-content-start">
            <div class="card-text pe-3">
              <small class="text-muted">
                <i class="fa-regular fa-heart pe-1"></i>{{post.vote_count}} {{format_plural "point" vote_count}}
              </small>
            </div>
            <div class="card-text">
              <small class="text-muted">
                <i class="fa-regular fa-message pe-1"></i><a id="comments-route"
                  href="/post/{{post.id}}">{{post.comments.length}}
                </a>
              </small>
            </div>
          </div>
          <div class="d-flex justify-content-evenly">
            <button class="btn btn-success" type="submit">Save post</button>
          <button class="btn btn-danger delete-post-btn" type="button">Delete Post</button>
          </div>
        
        </form>
      </article>

      <div class=" col-12 pt-1 pb-3 mt-3 mb-3 border-top border-bottom border-secondary">
        <h2 class="text-center ">Add Comment</h2>
        <form class="comment-form">
          <div class="mb-3">
            <textarea class="form-control" name="comment-body"></textarea>
          </div>

          <div class="bottom-peak d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-success" type="submit">Post Comment</button>
          </div>
        </form>
      </div>


      {{> comments post.comments}}

      <a class="btn mt-auto" href="/dashboard"> &larr; Back to dashboard</a>
    </div>
  </div>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>
